table{background-color: #93E5EF; margin-left: auto; margin-right: auto; width: 1000px}
td,th{border-color: black; border-style: solid;}
td{text-align:center; font-family: Arial; font-size: 19px;}
h1{font-family: Arial Black; font-size: 40px;}
.menu{font-size: 25px;px;}
.hotel{height: 500px; width: 1000px}